*{
    margin: 0%;
    padding: 0%;
}

.outer-div{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:2%;
    /* border: solid green; */
    /* box-shadow:inset -6px -6px 13px #c6292982,
    6px 6px 13px rgba(155, 48, 48, 0.16); */
    
    
}
.reset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn{
    
    align-items: center;
    font-size: 250%;
    background-color:rgb(50, 5, 5);
    text-align: center;
    align-items: center;
    padding-top: 0%;
    margin-top: 0px;
    color: azure;

}

#res{
    display: none;
}
