*{
    margin: 0%;
    padding: 0%;
}

.outer-div{
    /* margin: 5%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: red;
    align-items: center;
    padding:2%;
    border: solid green;
    
}

.btn{
    
    align-items: center;
    font-size: 15px;
    background-color:rgb(50, 5, 5);
    text-align: center;
    align-items: center;

}

#res{
    display: none;
}